<div class="test">
<h2>Contact</h2>
<a href="mailto:ma3east@gmail.com" target="_blank">
  <%= image_tag("Service_Courier_64.png", alt: "email logo", class: "contact_logo") %>
</a>
<a href="https://twitter.com/ma3east" target="_blank">
  <%= image_tag("Twitter_Bird_Logo_32.png", alt: "twitter logo", class: "contact_logo") %>
</a>
<div>
  <p>Icons made by <a href="http://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> and <a href="http://www.flaticon.com/authors/zurb" target="_blank" title="Zurb">Zurb</a> </p>
  from <a href="http://www.flaticon.com" target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0"> CC BY 3.0 </a>
</div>
<p class="copy">
&copy; eStub - Andrea Mckenzie - 2015
</p>
</div>


