<header>
  <nav>
    <ul>
      <li class="logo">eStub</li>
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'Login', '/login' %></li>
      <li><%= link_to 'Sign Up!', '/sign_up' %></li>
      <li><%= link_to 'Events', '/events' %></li>
    </ul>
  </nav>
</header>


