.left {
  float: left;
}

.right {
  float: right;
  margin-right: 40px;

}

header a {
  color: red;
  transition: 0.3s;
}

header a:hover {
    background-color: red;
    opacity: 0.6;
}
nav {
  background-color: #FFC2CE;
  height: 4.5em;
  font-size: 24px;
  padding-top: 20px;
}

ul li {
  list-style-type: none;
  display: inline-block;
}