.home {
  
  height: 1200px;
  
  display: block;
  position: relative;
  text-align: center;
  color: white;
}

.home::after {
  content: "";
  background-image: url('http://www.freevector.com/site_media/preview_images/FreeVector-Vector-Beach-Party.jpg');
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  height: 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.home h1 {
  font-size: 60px;
}
.home p {
  font-size: 28px;
}