* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0 50px;
}

body {
  background-color: #FD6E8A;
  color: #A2122F;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}

//relates to footer .push needed for sticky footer

.footer, .push {
  height: 2em;
}

.foot2 {
  background-color: #FFC2CE;
  text-align: center;
}
img.contact_logo{
  width: 2em;
  height: 2em;
  padding-right: 5px;
  transition: 0.3s;
}

img.contact_logo:hover {
  opacity: 0.6;
}
// end of footer settings
img {
  width: 320px;
  height: 213px;
  border-radius: 10px;
}


.index_image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}


