<h1>Events Index</h1>
<br/>
<h3>Add event:</h3>
<% if current_user %>
<br />
    <%= link_to "Add", new_event_path %>
<h2>My Events</h2>
<ul>
<% @events.each do |event| %>
  <% if event.user.id == current_user.id %>
    <li><%= link_to event.name, event %></li>
  <% end %>
<% end %>
</ul>

<% end %>

<h2>All Users Shared Events</h2>
<ul>
<% @events.each do |event| %>
  <% if event.share == "No" %>
  <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<% end %>
