<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% if current_user %>
<h1>My Events</h1>
<ul>
<% @events.each do |event| %>
  <% if event.user.id == current_user.id %>
    <li><%= event.name %></li>
  <% end %>
<% end %>
</ul>

<% end %>

<h1>List of Shared Events</h1>
<ul>
<% @events.each do |event| %>
  <% if event.share != "No" %>
  <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<% end %>
